<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<div th:object="${cliente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">
					<table class="table table-bordered">

						<tr>
							<td style="width: 200px;">nombre</td>
							<td><input type="text" th:field="*{nombre}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
								<small class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
							</td>

						</tr>
						<tr>
							<td>apellido</td>
							<td><input type="text" th:field="*{apellido}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
								<small class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
							</td>
						</tr>
						<tr>
							<td>email</td>
							<td><input type="email" th:field="*{email}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
								<small class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
							</td>
						</tr>
						<tr>
							<td>fecha</td>
							<td><input type="text" th:field="*{createAt}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
								<small class="form-text text-danger"
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
							</td>
						</tr>
						
						<tr>
							<td>foto</td>
							<td><input type="file" name="file" class="form-control" /></td>
						</tr>
						
						<tr>
							<td><input type="submit" value="Crear Cliente"
								class="btn btn-primary" /></td>
						</tr>
					</table>
					<!-- <input type="hidden" th:field="*{id}" />  -->
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>