<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h2 th:text="${titulo}"></h2>
	<form th:action="@{form4}" method="post" th:object="${usuario}">
		<div>
			<label for="username">Username</label>
			<div>
				<input type="text" id="username" th:field="*{username}">
			</div>
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</div>
		<div>
			<label for="password">Password</label>
			<div>
				<input type="text"  id="password" th:field="*{password}">
			</div>
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		</div>
		<div>
			<label for="email">Email</label>
			<div>
				<input type="text" id="email" th:field="*{email}">
			</div>
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>
		<div>	
			<div>
				<input type="submit" value="Enviar">
			</div>
		</div>
	</form>
</body>
</html>