<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h2 th:text="${titulo}"></h2>
	<ul>
		<li th:text="${usuario.identificador}"></li>
		<li th:text="${usuario.username}"></li>
		<li th:text="${usuario.password}"></li>
		<li th:text="${usuario.email}"></li>
		<li th:text="${usuario.nombre}"></li>
		<li th:text="${usuario.apellido}"></li>
		<li th:text="${usuario.cuenta}"></li>
		<li th:text="${#dates.format(usuario.fechaNacimiento,'dd-MM-YYYY')}"></li>
		<li th:text="${usuario.pais.id}"></li>
		<li th:text="${usuario.pais.codigo}"></li>
		<li th:text="${usuario.pais.nombre}"></li>
		<li th:text="'Habilitado: ' + ${usuario.habilitar}"></li>
		<li th:text="'Género: ' + ${usuario.genero}"></li>
		<li th:text="'Valor oculto: ' + ${usuario.valorSecreto}"></li>
	</ul>
	<div>Roles</div>
	<ul>
		<li th:each="role : ${usuario.roles}" th:text="${role.id} + '//' + ${role.nombre} + '//' + ${role.role}"></li>
	</ul>
</body>
</html>